
*, *:before, *:after {
  /* see https://css-tricks.com/box-sizing/ */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: georgia, palatino, serif;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  line-height: 130%;
}

body {
  padding: 1em;
  margin: 3vw 0;
  text-align: center;
}

.last-name {
  font-size: 0.7em;
}

#members {
  /* see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 1em;
  justify-content: space-around;
  gap: 0.5em;
  
  /* don't seem to work? */
  align-items: stretch;
  align-content: stretch;
}

.note {
  padding-bottom: 2rem; 
}

/* see https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-coin {
  background-color: transparent;
  min-width: 6em;
  min-height: 10em;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-coin-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

/*
.flipped:hover {
  transform: rotateY(0deg);
}
*/

.flip-coin-back {
  transform: rotateY(180deg);
}

.flip-coin-front, .flip-coin-back {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1rem; /* had at 0.7 */
  overflow: visible;
  
  /* positions icon + name */
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  justify-content: flex-start;
  flex-direction: column;

  /* Position the front and back side in the same space */
  position: absolute;
  width: 100%;
  height: 100%;
  
  /* Keep the face that's not forward from showing */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.icon {
  min-width: 6em;
  min-height: 6em;
  border-radius: 4em;
  border: 2px solid currentColor;
  background-repeat: no-repeat;
  background-size: cover;
}

.unavailable .icon {
  opacity: 20%;
  filter: grayscale(100%);
}

.available .icon {
  opacity: 40%;
  filter: none;
}

.present .icon {
  opacity: 100%;
  filter: none;
}

.active > * {
  font-size: 1rem;
  min-width: 6rem;
  min-height: 7rem;
  opacity: 100%;
}

.active {
  order: -1000;
}

.unavailable {
  order: 1000;
}

.hidden {
  display: none;
}

.name {
  padding: 0.1em;
  overflow: visible;
}

input.name {
  all: inherit;
  display: inline;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
  border-width: 1;
}

/* via https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 50%, 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 50%, 40%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 50%, 70%);
}


/* via https://getcssscan.com/css-buttons-examples */
input.search, button {
  font-family: inherit;
  background-color: hsla(0, 0%, 50%, 20%);
  border-radius: 0.2em;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0.2em 0.5em;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: hsla(0, 0%, 50%, 40%);
}

/* via https://www.w3schools.com/howto/howto_js_snackbar.asp */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
visibility: hidden; /* Hidden by default. Visible on click */
min-width: 250px; /* Set a default minimum width */
margin-left: -125px; /* Divide value of min-width by 2 */
background-color: #333; /* Black background color */
color: #fff; /* White text color */
text-align: center; /* Centered text */
border-radius: 2px; /* Rounded borders */
padding: 16px; /* Padding */
position: fixed; /* Sit on top of the screen */
z-index: 1; /* Add a z-index if needed */
left: 50%; /* Center the snackbar */
bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 * However, delay the fade out process for 2.5 seconds */
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
