
*, *:before, *:after {
  /* see https://css-tricks.com/box-sizing/ */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: georgia, palatino, serif;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}

body {
  padding: 1em;
  margin: 3vw 0;
  text-align: center;
}

.container {
  /* see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 1em;
  justify-content: space-between;
  gap: 0.5em;
  
  /* don't seem to work? */
  align-items: stretch;
  align-content: stretch;
}

/* see https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-coin {
  background-color: transparent;
  min-width: 6em;
  min-height: 7em;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-coin-inner {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-coin:hover .flip-coin-inner {
  transform: rotateY(180deg);
}

.flip-coin-back {
  transform: rotateY(180deg);
}

.flip-coin-front {
}


.flip-coin-front, .flip-coin-back {
  pointer-events: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  display: inline-block;
  overflow: hidden;
  
  /* positions icon + name */
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  justify-content: flex-start;
  flex-direction: column;

  /* Position the front and back side in the same space */
  position: absolute;
  width: 100%;
  height: 100%;
  
  /* Keep the face that's not forward from showing */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.icon {
  pointer-events: none;
  opacity: 30%;
  filter: grayscale(100%);

  width: 6em;
  height: 6em;
  border-radius: 4em;
  border: 2px solid currentColor;

  background-repeat: no-repeat;
  background-size: cover;
}

.available .icon {
  min-width: 6em;
  min-height: 6em;
  opacity: 60%;
  filter: none;
}

.present .icon {
  filter: none;
  opacity: 100%;
}

.present > * {
  font-size: 1rem;
  min-width: 6rem;
  min-height: 7rem;
  opacity: 100%;
}

.name {
  padding: 0.1em;
  overflow: hidden;
  pointer-events: none;
}

.note {
  padding-top: 2rem; 
}